* {
    box-sizing: border-box;
    border: 0;
    padding: 0;
}
.main-wrap {
    height: 600px;
    width: vw;
    border-radius: 5px;
    border: 1px solid black;
}

/* navbar  */
#navbar {
    height: 80px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    z-index: 10;
    background-color: rgba(99, 1, 1, 0.2);
}
.navbar-left {
    height: 100%;
    border-radius: 6px;
}
.navbar-left img {
    height: 80%;
}
.navbar-right {
    padding-right: 30px;
}
.navbar-right ul {
    text-decoration: none;
}
.navbar-right li {
    display: inline-block;
    padding: 0 10px;
}
.navbar-right li:hover {
    background-color: grey;
    color: white;
    padding: 10px;
    border-radius: 5px;
}
a {
    text-decoration: none;
    color: black;
}
.navbar-right a:hover {
    color: white;
}
#container-sections {
    display: flex;
    height: 100%;
    align-items: stretch;
    position: relative;
    background-color: #4E3D84;
    overflow: hidden;
}
.section {
    width: 50%;
    align-self: stretch;
    transition: 1s;
    /* clip-path: polygon(0% 0, 100% 0%, 75% 100%, 0% 100%); */
    position: relative;
    /* transform: skew(20deg,0deg);
    transform-origin: right; */
}
.section::after {
    position: absolute;
    content: "";
    transform: skew(20deg,0deg);
    transform-origin: right;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 1s all ease-in-out;
    z-index: 1;
}
.section:hover::after {
    transform: skew(20deg,0deg) scaleX(1.5);
    box-shadow: -5px 0px 10px;
    transform-origin: right;
}
.section:hover {
    transform-origin: right;
}
.section02 {
    z-index: 1;
    /* background-color: #6BBCD0; */
}
.section02::after {
    background-color: #6BBCD0;
}
.section03 {
    z-index: 2;
    /* background-color: #FEB436; */
}
.section03::after {
    background-color: #FEB436;
}
.section04 {
    z-index: 3;
    /* background-color: #90B938; */
}
.section04::after {
    background-color: #90B938;
}
.section-inner {
    position: relative;
    z-index: 2;
}
.curved-div {
    background: grey;
    opacity: 0.5;
    color: #FFF;
    text-align: center;
}
.navbar-curved {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.curved-div h1 {
    font-size: 2rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.curved-div p {
    font-size: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* seconda prova  */
.container2 {
    display: flex;
    height: 100%;
    align-items: stretch;
    position: relative;
    background-color: #4E3D84;
    overflow: hidden;
}
.sezione {
    width: 25%;
    clip-path: polygon(0% 0, 100% 0%, 75% 100%, 0% 100%);
    position: relative;
    transition: 1s all ease-in-out;
    transform-origin: right;
}
.sezione:hover {
    width: 35%;
}
.sezione2 {
    background-color: #6BBCD0;
    z-index: 1;
}
.sezione3 {
    background-color: #FEB436;
    z-index: 2;
}
.sezione4 {
    background-color: #90B938;
    z-index: 3;
}



